body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.main {
    &__h1 {
        text-align: center;
    }
    &__h2 {
        text-align: center;
        display: block;
        text-decoration: none;
        font-size: large;
        color: black;
        border: 1px solid;
        width: 100px;
        margin: 0 auto;
        padding: 10px;
        &:hover {
            background-color: #fdfbfb;
            color: brown;
        }
    }
    &__currencies {
        font-size: 18px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__list {
        display: flex;
        font-size: 20px;
        &__left,
        &__right {
            & div:nth-child(odd) {
                background-color: darksalmon;
                padding-right: 50px;
            }
        }
    }
}